#about {
    padding: 40px;
}

.about-content {
    margin: 40px;
}

.skill-set-header{
    margin: 15px;
}

.skill-set-content {
    display: flex;
    margin: 10px;
}

.skill-set-list {
    margin: 10px;
}

.skill-set-item {
    margin: 10px;
}

.skill-set-icon img {
    height: 50px;
}