#about {
    padding: 50px 20px;
}

.about-content p {
    font-size: calc(10px + .8vw);
}

.skill-set-container {
    width: 100%;
}

.about-content {
    margin: calc(10px + 1vh)
}

.skill-set-header{
    margin: 15px;
}

.skill-set-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* max-width: 1200px; */
    margin: auto;
}

.skill-set-list {
    margin: 10px;
    width: 45%;
    list-style-type: none;
}

.skill-set-item {
    min-width: 450px;
    max-width: 700px;
    margin: 15px;
    display: flex;
}

.skill-set-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.skill-set-icon img {
    height: 50px;
}

.skill-set-detail {
    width: 90%;
    margin: 3px 5px;
}

.skill-set-title {
    display: flex;
    justify-content: space-between;
    margin: 2px;
    font-size: calc(8px + .8vw);
}

.skill-name, .skill-procentage {
    margin: 0 15px;
}

.skill-set-bar {
    width: 100%;
    height: 1.4rem;
    margin: 2px;
    background: #fff;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgb(7 33 66 / 15%);
}
.skill-set-bar::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
}

.skill-set-bar.procent90:after { width: 90%;}
.skill-set-bar.procent80:after { width: 80%;}
.skill-set-bar.procent70:after { width: 70%;}
.skill-set-bar.procent60:after { width: 60%;}
.skill-set-bar.procent50:after { width: 50%;}

@media screen and (max-width: 1201px) {
    .skill-set-content {
        flex-direction: column;
        align-items: center;
    }
    .skill-set-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding-inline-start: 0;
    }
    .skill-set-item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .skill-set-item {
        min-width: 300px;
    }
    .skill-set-icon img {
        height: 40px;
    }
    .skill-set-icon {
        width: 80px;
    }
  }