#contact {
    background: #373c47;
    color: white;
    padding-bottom: 40px;
}

.deco-container {
    width: 0; 
    height: 0; 
    border-left: calc(50vw - 11px) solid transparent;
    border-right: calc(50vw - 11px) solid transparent;
    border-top: 150px solid tomato;
    margin-bottom: 150px;
}

.deco-side-container {
    width: 50%;
    border: 0;
    margin: 0;
    padding: 0;
}

.deco-left, .deco-right {
    position: absolute;
    background: tomato;
    height: 0;
    width: 0;
    border-bottom: solid #373c47 150px;
}

.deco-left {
    border-right: solid transparent ;
}

.deco-right {
    border-left: solid transparent ;
}

/* FORM */
#contact > form {
    margin: 25px;
    padding: 25px;
}

input[type=text], input[type=email], textarea {
    background: #1E242C;
    margin: 2px;
    padding: 10px 15px;
    min-width: 95%;
    font-size: 18px;
    border-style: none;
    color: white;
}
.form-footer{
    display: flex;
    justify-content: center;
    /* min-width: 95%; */
}

@media screen and (min-width: 769px) {
    input[type=text], input[type=email], textarea, .btn-wrapper{
        width: 600px;
        min-width: 30%;
    }
}

textarea {
    min-height: 150px;
    max-height: 500px;
    max-width: 80vw;
}

.btn-wrapper{
    width: 630px;
    display: flex;
    justify-content: flex-end;
}

.btn-submit {
    background: #2c2c2c;
    color: white;
    font-size: 1rem;
    padding: .5rem 1.8rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-submit:hover {
    color: tomato;
}

@media screen and (max-width: 768px) {
    .deco-container {
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
    }
    input[type=text], input[type=email], textarea, .btn-wrapper{
        padding: 0;
    }
}