.footer-container {
    height: 20vh;
    width: 100%;
    background: #2A2E37;
    color: white;
}

.arrow-up {
    position: relative;
    top: -23px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
    background: tomato;
}
.arrow-up svg:hover {
    color: red;
}

.icon-container {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background: #373c47;
}

.icon {
    font-size: 35px;
    padding: 5px;
    color: white;
}
.icon:hover {
    color: tomato;
}

.footnote {
    margin: 40px 0;
    font-size: calc(8px + .8vw);
    opacity: .6;

}

.footnote .highlight {
    color: tomato;
}