#home {
    position: relative;
    background-color: #2A2E37;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
}

.home-intro {
    margin: 50px;
    z-index: 2;
}

.home-intro h2 {
    font-size: calc(24px + .8vw);
}

h2 .highlight {
    color: tomato;
    
}

.home-background {
    position: absolute;
    right: 0;
    display: flex;
    height: calc(100vh - 50px);
}

@media screen and (max-width: 1201px) {
    .home-background {
        right: -300px;
        overflow: hidden;
    }
}

#home-background-image {
      height: 100%;
}