#home {
    position: relative;
    background-color: #2A2E37;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .home-intro {
      z-index: 2;
  }

  .home-background {
      position: absolute;
      right: 0;
      display: flex;
      height: calc(100vh - 50px);
  }

  #home-background {
      height: 100%;
  }