.modal-wrapper {
    width: 80%;
    position: fixed;
    top: 5%;
    left: 10%;
    background: white;
    z-index: 10;
    transition: all .5s ease;
}
@media screen and (min-width: 1025px) {
    .modal-wrapper {
      width: 60%;
      left: 20%;
      
    }
}

.modal-header {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(2px + .7vh) calc(10px + .6vw);
}

.modal-header span {
    font-size: 1.3rem;
    font-family: "Arial";
    cursor: pointer;
}

.modal-image{
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.modal-image > img {
    width: 100%;
    max-width: 85vh;
}

.modal-content {
    padding: calc(3px + .7vh) calc(10px + .6vw);
}

.modal-body {
    margin-bottom: 1vh;
}

.modal-body h4 {
    font-size: calc(14px + .8vw);
    color: orange;
}

.modal-body p {
    font-size: calc(10px + .4vw);
    background: white;
    color: black;
    padding: calc(3px + .7vh) calc(8px + .6vw);
    margin: 10px;
}

.modal-links {
    display: flex;
}

.btn {
    cursor: pointer;
    display: block;
    border-radius: 5px;
    border: none;
    /* outline: none; */
}

.btn-links {
    padding: .5rem 1rem;
    margin: 0 10px;
    background: cadetblue;
    color: white;
}

.btn-cancel {
    font-size: 1rem;
    margin-left: auto;
    padding: 0.5rem 1.8rem;
    background: brown;
    color: white;
}

@media screen and (max-height: 415px) {
    .modal-header {
        padding: calc(1px + .7vh) calc(10px + .6vw);
    }
    .modal-header > h3 {
        font-size: .9em;
    }
    .modal-image > img {
        max-height: 40vh;
        width: auto;
    }
    /* .modal-body {
        margin-bottom: ;
    } */
    .modal-body p {
        padding: calc(.5px + .4vh) calc(2px + .4vw);
        margin: calc(.5px + .4vh) calc(2px + .4vw);
    }
    .btn-github, .btn-cancel {
        padding: calc(4px + .4vh) calc(5px + .6vw);
    }
}