
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border: solid cadetblue 20px;
  border-radius: 20px;
  width: 400px;
  height: 364px;
}

.project-img {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.project-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-img > img {
  height: 364px;
}
