.App {
  text-align: center;
}


.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex.row {
  flex-direction: row;
}

.container {
  margin: 20px;
}


@media screen and (min-width: 960px) {
  .container {
    flex-flow: row wrap;
    
  }
}