* {
  margin: 0;
}
.App {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}


.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  flex-direction: row;
}

.container {
  margin: 20px;
}


@media screen and (min-width: 960px) {
  .container {
    flex-flow: row wrap;
    
  }
}

.btn-open-modal {
  background: #2c2c2c;
  color: white;
  font-size: 1rem;
  margin: 2rem;
  padding: .5rem 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.back-drop {
    background: #2c2c2c;
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
    z-index: 10;
}